.background {
  viewport-fill: black;
}

#active{
  font-size: 17;
  font-family: System-Bold;
  text-length: 12;
  text-anchor: start;
  x: 20;
  y: 75;
  fill: #E6E6FA;
  
}

#weatherIMG{
  x: 85%; 
  y: 10%; 
  width: 32; 
  height: 32; 
}

#arrow{
  x: 32%; 
  y: 63%; 
  width: 34; 
  height: 34; 
}

.graphset {
  x: 45%; 
  y: 70%; 
  width: 135; 
  height: 80;
}

#dist{
  font-size: 27;
  font-family: System-Bold;
  text-length: 9;
  text-anchor: end;
  x: 99%;
  y: 25;
  fill: #E6E6FA;
}

#steps{
  font-size: 17;
  font-family: System-Bold;
  text-length: 9;
  text-anchor: start;
  x: 20;
  y: 50;
  fill: #E6E6FA;
}

#hr{
  font-size: 29;
  font-family: System-Bold;
  text-length: 9;
  text-anchor: start;
  x: 26;
  y: 25;
  fill: #E6E6FA;
}

#time {
  font-size: 70;
  font-family: System-Bold;
  text-length: 32;
  text-anchor: middle;
  x: 50%;
  y: 50%+25;
  fill: white;
}

#date {
  font-size: 30;
  font-family: System-Bold;
  text-length: 6;
  text-anchor: middle;
  x: 50%;
  y: 50%-35;
  fill: white;
}

#battery {
  font-size: 25;
  font-family: System-Bold;
  text-length: 4;
  text-anchor: middle;
  x: 50%;
  y: 50%-70;
  fill: honeydew;
}

#app {
  width:100%;
  height:100%;
}

.status-text {
  fill: white;
  text-length: 65;
  font-size:20;
}

.status-bar-text {
  fill: white;
  font-family: SevilleSharp-Bold;
  font-size:18;
}

.h1 {
  fill: white;
  font-family: SevilleSharp-Bold;
  font-size:45;
}

.h2 {
  fill: white;
  font-family: SevilleSharp-Bold;
  font-size:25;
}
.h3 {
  fill: white;  
  font-family: "System-Light";
  font-size:22;
}

.image {
   width:32;
   height:32;
}
.image-status {
   width:20;
   height:20;
}

.graph-point {
  fill:#b0b1b2;
}

.gval {
  fill:#b0b1b2;
}